html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font family: avenir;
  color: black;
}

body {
  background-color: #ffffff;
  margin: auto 10px auto 10px auto;
  width: 90%;
  font-family: avenir;
}

li {
  margin: 5px auto 5px auto;
  width: 90%;
}

button {
  font-family: inherit;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  color: white;
  font-weight: bold;
  background-color: #fa7c92;
  border-color: #fa7c92;
  transition: opacity 500ms;
}

input, textarea, button:focus {
    outline: 0;
}

button:hover {
  opacity: 0.5;
}

.comment-box {
  margin: 15px auto 15px 25px;
}

.comment-toggle {
  position: absolute;
  top: 15px;
  right: 25px;
}

.comment-count {
  opacity: 0.5;
}

.comment-form {
  margin: 15px auto 15px auto;
}

.comment-form-body, .comment-form-author {
  display: block;
  margin: 10px 0px 10px 0px;
  width: 90%;
  border-radius: 5px;
  opacity: 50%;
  transition: border-color 1000ms
}

.comment-form-body:focus, .comment-form-author:focus {
  border-color: #66ab86;
}
.comment-form-body-characters {
  width: 90%;
  font-size: 50%;
  color: #555555;
  text-align: right;
}

.comment {
  width: 85%;
  margin: 15px auto 15px 25px;
  font-size: 70%;
}

.comment-header {
  border-bottom: 1px solid #66ab86;
  font-size: 110%;
  font-weight: bolder;
  color: #6ec4db;
}

.comment-body {
  margin: 5px auto 5px auto;
}

.comment-edit-box {
  width: 99%;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  transition: border 1000ms;
}

.comment-edit-box:focus {
  border: 1px solid #77B3D8;
}

.Voting-Buttons {
  font-size: 40%;
  color: grey;
  display: inline-block;
  margin-right: 25px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.vote-break {
  color: #888888;
  margin: 0px 7px 0px 5px;
}

.up-vote, .down-vote {
  font-size: 400%;
  display: inline-block;
  transition: color 500ms;
}

.up-vote:hover {
  color: green;
}

.down-vote:hover {
  color: darkred;
}

.comment-actions-delete, .comment-actions-abuse, .comment-actions-edit {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  font-size: 80%;
  color: #888888;
  text-decoration: none;
  transition: color 500ms;
}

.comment-actions-delete:hover, .comment-actions-abuse:hover, .comment-actions-edit:hover {
  color: #333333;
}
